<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styleTask.css" />
    <link rel="stylesheet" href="/css/fonts.css" />
    <title>Document</title>
  </head>
  <body>
    <section class="container">
      <div class="plan">
        <div class="plan__header">
          <h1>مشاهده درخواست های جاری</h1>
        </div>
        <div class="card__content">
          <form>
            <div class="card">
              <div class="card__control">
                <div class="card__header">
                  <span class="card__box">2</span>
                  <span class="card__text">آپلود مستندات</span>
                  <span class="card__date">1402/7/3</span>
                </div>
                <div class="card__descripion">
                  <h2>درخواست عضویت</h2>
                  <p class="card__earmark">شناسه درخواست 123456#</p>
                </div>
                <div class="card__footer">
                  <div class="card__img">
                    <img src="/assets/img/avatar-3.jpg" alt="" />
                  </div>
                  <div class="card__name">علی دهقانی</div>
                  <div class="card__request">
                    <button class="btn btn-primary">مشاهده درخواست</button>
                  </div>
                </div>
              </div>
              <div class="card__control">
                <div class="card__header">
                  <span class="card__box">2</span>
                  <span class="card__text">آپلود مستندات</span>
                  <span class="card__date">1402/7/3</span>
                </div>
                <div class="card__descripion">
                  <h2>درخواست عضویت</h2>
                  <p class="card__earmark">شناسه درخواست 123456#</p>
                </div>
                <div class="card__footer">
                  <div class="card__img">
                    <img src="/assets/img/avatar-3.jpg" alt="" />
                  </div>
                  <div class="card__name">علی دهقانی</div>
                  <div class="card__request">
                    <button class="btn btn-primary">مشاهده درخواست</button>
                  </div>
                </div>
              </div>
              <div class="card__control">
                <div class="card__header">
                  <span class="card__box">2</span>
                  <span class="card__text">آپلود مستندات</span>
                  <span class="card__date">1402/7/3</span>
                </div>
                <div class="card__descripion">
                  <h2>درخواست عضویت</h2>
                  <p class="card__earmark">شناسه درخواست 123456#</p>
                </div>
                <div class="card__footer">
                  <div class="card__img">
                    <img src="/assets/img/avatar-3.jpg" alt="" />
                  </div>
                  <div class="card__name">علی دهقانی</div>
                  <div class="card__request">
                    <button class="btn btn-primary">مشاهده درخواست</button>
                  </div>
                </div>
              </div>
              <div class="card__control">
                <div class="card__header">
                  <span class="card__box">2</span>
                  <span class="card__text">آپلود مستندات</span>
                  <span class="card__date">1402/7/3</span>
                </div>
                <div class="card__descripion">
                  <h2>درخواست عضویت</h2>
                  <p class="card__earmark">شناسه درخواست 123456#</p>
                </div>
                <div class="card__footer">
                  <div class="card__img">
                    <img src="/assets/img/avatar-3.jpg" alt="" />
                  </div>
                  <div class="card__name">علی دهقانی</div>
                  <div class="card__request">
                    <button class="btn btn-primary">مشاهده درخواست</button>
                  </div>
                </div>
              </div>
              <div class="card__control">
                <div class="card__header">
                  <span class="card__box">2</span>
                  <span class="card__text">آپلود مستندات</span>
                  <span class="card__date">1402/7/3</span>
                </div>
                <div class="card__descripion">
                  <h2>درخواست عضویت</h2>
                  <p class="card__earmark">شناسه درخواست 123456#</p>
                </div>
                <div class="card__footer">
                  <div class="card__img">
                    <img src="/assets/img/avatar-3.jpg" alt="" />
                  </div>
                  <div class="card__name">علی دهقانی</div>
                  <div class="card__request">
                    <button class="btn btn-primary">مشاهده درخواست</button>
                  </div>
                </div>
              </div>
              <div class="card__control">
                <div class="card__header">
                  <span class="card__box">2</span>
                  <span class="card__text">آپلود مستندات</span>
                  <span class="card__date">1402/7/3</span>
                </div>
                <div class="card__descripion">
                  <h2>درخواست عضویت</h2>
                  <p class="card__earmark">شناسه درخواست 123456#</p>
                </div>
                <div class="card__footer">
                  <div class="card__img">
                    <img src="/assets/img/avatar-3.jpg" alt="" />
                  </div>
                  <div class="card__name">علی دهقانی</div>
                  <div class="card__request">
                    <button class="btn btn-primary">مشاهده درخواست</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>
  </body>
</html>
